fieldset {
    display: block;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    border: 2px groove darkblue;
    float: left;
}

fieldset div{
    float: left;
    margin-right: 0.75em;
}

.CantidadEdit
{
    float: left;
    width: 86.1%;
}

.CantidadEdit .CantidadCaja
{
    float: right;
}

.CantidadEdit .CantidadBlister
{
    float: right;
}

.DateEdit
{
    float: none;   
}